{% extends "layout.html" %}
{% block content %}
    {% for post in weather %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <small class="article-content">Day {{ post[2] }}</small> -->
              <a class="mr-2" href="./day?day={{ post[2] }};loc={{ post[1] }}">Day {{ post[2] }}
              </a>
            </div>
            <h1>{{post[1]}}</h1>
            <p class="article-content">{{ post[5] }}</p>
            <p class="article-content">Avg temp of the day {{ post[4] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
